<div class="container bg-white shadow-lg">
  <div class="mt-5 d-flex justify-content-between p-2">
    <h1 (click)="page = true" style="cursor: pointer">Admin Page</h1>
    <h1 (click)="page = false" style="cursor: pointer">Setting Systems</h1>
  </div>
  <div *ngIf="page" class="p-4">
    <div *ngFor="let item of users" class="row align-items-center">
      <div class="col">
        <img
          [src]="item.AvatarURL"
          style="
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: center;
          "
          class="rounded-circle"
        />
      </div>
      <div class="col">
        <span class="fs-3 fw-semibold">{{ item.display_name }}</span>
      </div>
      <div class="col">
        <button routerLink="/view_profile/{{ item.UserID }}" mat-raised-button>
          View More
        </button>
      </div>
      <hr class="my-4" />
    </div>
  </div>
  <div *ngIf="!page" class="p-4">
    <form #cooldownForm="ngForm" (ngSubmit)="updateCooldown(cooldown)">
      <div class="d-flex align-items-center">
        <label class="fs-5" for="cooldown">Set cooldown time : </label>
        <input
          style="width: 80px"
          class="form-control ms-2"
          id="cooldown"
          name="cooldown"
          [(ngModel)]="cooldown"
          type="number"
          [min]="1"
          required
        />
        <span class="ms-2 fs-5">second</span>
        <button
          type="submit"
          class="ms-2"
          mat-stroked-button
          [disabled]="cooldownForm.invalid || cooldown === old_cooldown"
        >
          Set Time
        </button>
      </div>
    </form>
    <br />
  </div>
</div>
