<app-header></app-header>
<div class="container mt-5">
  <mat-card style="height: auto; min-height: 45rem" class="w-100 p-5 shadow-lg">
    <div *ngIf="!isLoad" class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col" *ngFor="let item of top10; let i = index">
        <div
          [@slideInBottom]
          style="height: 20rem"
          class="border border-black p-2 d-flex flex-column text-center shadow-lg bg-white"
        >
          <div>
            <span class="fw-bold"
              >{{ i + 1 }}: {{ item.display_name }}'s Image</span
            >
          </div>
          <div style="height: 75%" class="my-2 w-100">
            <img
              style="object-fit: cover; object-position: center"
              class="w-100 h-100"
              [src]="item.ImageURL"
              alt=""
            />
          </div>
          <div class="d-flex justify-content-center">
            <mat-icon
              aria-hidden="false"
              fontIcon="favorite"
              color="accent"
            ></mat-icon>
            <span class="fw-semibold">{{ item.EloScore }}</span>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="isLoad"
      style="height: 40rem"
      class="d-flex justify-content-center align-items-center"
    >
      <img
        src="https://i.pinimg.com/originals/13/90/75/13907559a21dd41293af7c57a89b3849.gif"
        alt=""
      />
    </div>
  </mat-card>
</div>
