<app-header></app-header>
<div class="container mt-5">
  <mat-card style="height: auto; min-height: 45rem" class="w-100 p-5 shadow-lg">
    <div *ngIf="!isLoad" class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col" *ngFor="let item of top10; let i = index">
        <div
          [@slideInBottom]
          style="height: 20rem"
          class="border border-black p-2 d-flex flex-column text-center shadow-lg bg-white"
        >
          <div matTooltip="View {{item.display_name}} Profile" style="cursor: pointer">
            <span
              class="fw-bold d-flex justify-content-center align-items-center"
            >
              Upload by {{ item.display_name }}
            </span>
          </div>
          <div style="height: 75%" class="my-2 w-100">
            <img
              style="object-fit: cover; object-position: center"
              class="w-100 h-100"
              [src]="item.ImageURL"
              alt=""
            />
          </div>
          <div
            class="d-flex justify-content-center align-items-center gap-1 to-col"
          >
            <div class="d-flex justify-content-center" matTooltip="Rank">
              <mat-icon aria-hidden="false" fontIcon="military_tech"></mat-icon>
              <span class="fw-semibold">{{ i + 1 }}</span>
            </div>
            <div class="d-flex justify-content-center" matTooltip="EloScore">
              <mat-icon
                aria-hidden="false"
                fontIcon="favorite"
                color="accent"
              ></mat-icon>
              <span class="fw-semibold">{{ item.EloScore }}</span>
            </div>
            <div
              *ngIf="item.rank_change.type == 0"
              class="d-flex justify-content-center"
              routerLink="/graph/{{ item.ImageID }}"
              style="cursor: pointer"
              matTooltip="View Graph"
            >
              <mat-icon
                aria-hidden="false"
                fontIcon="trending_down"
                style="color: red"
              ></mat-icon>
              <span class="fw-semibold">{{ item.rank_change.change }}</span>
            </div>
            <div
              *ngIf="item.rank_change.type == 1"
              class="d-flex justify-content-center"
              routerLink="/graph/{{ item.ImageID }}"
              style="cursor: pointer"
              matTooltip="View Graph"
            >
              <mat-icon
                aria-hidden="false"
                fontIcon="trending_up"
                style="color: green"
              ></mat-icon>
              <span class="fw-semibold">{{ item.rank_change.change }}</span>
            </div>
            <div
              *ngIf="item.rank_change.type == 2"
              class="d-flex justify-content-center"
              routerLink="/graph/{{ item.ImageID }}"
              style="cursor: pointer"
              matTooltip="View Graph"
            >
              <mat-icon
                aria-hidden="false"
                fontIcon="trending_flat"
                style="color: black"
              ></mat-icon>
              <span class="fw-semibold">{{ item.rank_change.change }}</span>
            </div>
            <div
              *ngIf="item.rank_change.type == 3"
              class="d-flex justify-content-center"
              routerLink="/graph/{{ item.ImageID }}"
              style="cursor: pointer; position: relative"
              matTooltip="View Graph"
            >
              <mat-icon
                aria-hidden="false"
                fontIcon="brightness_7"
                style="color: gold; position: relative; font-size: 26px"
              ></mat-icon>
              <span
                style="
                  font-size: 8px;
                  font-weight: bold;
                  position: absolute;
                  top: 55%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                "
                >{{ item.rank_change.change }}</span
              >
            </div>

            <div>
              <button
                mat-button
                class="d-flex justify-content-center align-items-center"
                matTooltip="View More Detail"
              >
                <mat-icon
                  aria-hidden="false"
                  fontIcon="visibility"
                  style="color: black"
                ></mat-icon
                ><span class="fw-semibold">View</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="isLoad"
      style="height: 40rem"
      class="d-flex justify-content-center align-items-center"
    >
      <img
        src="https://i.pinimg.com/originals/13/90/75/13907559a21dd41293af7c57a89b3849.gif"
        alt=""
      />
    </div>
  </mat-card>
</div>
<div>
  <br />
</div>
