<app-header></app-header>

<div
  class="container d-flex justify-content-center align-items-center mt-5 w-100 joti-one-regular"
>
  <mat-card
    style="height: auto; min-height: 45rem"
    class="my-card w-100 p-5 shadow-lg"
  >
    <h2 class="fw-bold mb-4 text-center">Vote Page</h2>
    <div *ngIf="!isLoad" class="row text-center">
      <div class="col-5" [@slideInLeft]>
        <div *ngIf="uid" class="mb-1">
          <span
            routerLink="/view_profile/{{ img1.UserID }}"
            style="cursor: pointer"
            class="fs-5"
            matTooltip="View {{ img1.display_name }} Profile"
            >Upload By {{ img1.display_name }}</span
          >
        </div>
        <div style="height: 30rem" class="border border-black">
          <img
            style="object-fit: cover; object-position: center"
            class="w-100 h-100"
            [src]="img1.ImageURL"
            alt=""
          />
        </div>
        <div>
          <button
            (click)="vote(img1.ImageID, img2.ImageID)"
            style="height: 3rem"
            class="fw-bold fs-3 w-100 mt-4 text-bg-danger"
            mat-stroked-button
          >
            VOTE
          </button>
        </div>
      </div>
      <div style="padding: 0px" class="col-2 joti-one-regular">
        <div
          style="height: 29rem"
          class="d-flex justify-content-center align-items-center sm"
        >
          <span class="fs-1 fw-bold">VS</span>
        </div>
        <div>
          <button
            style="height: 4rem"
            class="fw-bold fs-4 w-100 mt-4 text-bg-dark sm-btn"
            mat-stroked-button
            (click)="openDialog()"
          >
            Score Rules
          </button>
        </div>
      </div>
      <div class="col-5" [@slideInRight]>
        <div *ngIf="uid" class="mb-1">
          <span
            routerLink="/view_profile/{{ img2.UserID }}"
            style="cursor: pointer"
            class="fs-5"
            matTooltip="View {{ img2.display_name }} Profile"
            >Upload By {{ img2.display_name }}</span
          >
        </div>
        <div style="height: 30rem" class="border border-black">
          <img
            style="object-fit: cover; object-position: center"
            class="w-100 h-100"
            [src]="img2.ImageURL"
            alt=""
          />
        </div>
        <div>
          <button
            (click)="vote(img2.ImageID, img1.ImageID)"
            style="height: 3rem"
            class="fw-bold fs-3 w-100 mt-4 text-bg-primary"
            mat-stroked-button
          >
            VOTE
          </button>
        </div>
      </div>
    </div>
    <div
      *ngIf="isLoad"
      style="height: 35rem"
      class="d-flex justify-content-center align-items-center"
    >
      <img
        src="https://i.pinimg.com/originals/13/90/75/13907559a21dd41293af7c57a89b3849.gif"
        alt=""
      />
    </div>
  </mat-card>
</div>
<div>
  <br />
</div>
