@media (max-width: 770px) {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border {
    height: 15rem !important;
  }
  .sm {
    height: 14rem !important;
  }

  .my-card {
    height: 30rem !important;
    min-height: 0 !important;
  }
}

@media (max-width: 500px) {
  .border {
    height: 10rem !important;
  }

  .sm {
    height: 9rem !important;
  }

  .sm-btn {
    width: 100% !important;
    font-size: small !important;
  }

  .my-card {
    height: 25rem !important;
    min-height: 0 !important;
  }
}
